<div fxLayout="column" fxFlexFill class="container offset">
    <mat-drawer-container fxFlexFill class="example-container container ">
        <mat-drawer #sidenav mode="side" [(opened)]="opened">Drawer content
            <mat-list>
                <mat-list-item>
                    <button mat-button>Home</button>
                </mat-list-item>

                <mat-list-item>
                    <button mat-button>Payments</button>
                </mat-list-item>

                <mat-list-item>
                    <button mat-button>Records</button>
                </mat-list-item>
               </mat-list>
        </mat-drawer>      
        <!--Main Content Container-->
        <mat-drawer-content fxLayout="column" class="offset">
            <div fxFlex="20"class="test">
                <div fxLayout="row" fxLayoutAlign="space-between"  class="h20">
                    <p><button mat-button (click)="sidenav.toggle()">Menu</button></p>
                    <h1>Overview</h1>
                    <div class="panel" fxFlex="25">
                        <h1>Clients</h1>
                    </div>
                    <div class="panel" fxFlex="25" fxFill class="summaryPanel">
                        <h1>Finances</h1>
                        <!-- <canvas baseChart
                            [data]="financeData"
                            [labels]="financeChartLabel"
                            [chartType]="chartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas> -->
                            <p>Amount Paid</p>
                            <p>Payments Outstanding</p>
                            <p>Total Outstanding Payments: {{totalOutstanding}}</p>
                    </div>
                    <div class="panel" fxFlex="25">
                        <h1>Status</h1>
                    </div>
                </div>
            </div>
            <div fxFlex="70" class="h80">
                <div fxFlexFill>
                    <mat-form-field fxLayoutAlign="center">
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                    <div class="overflow"> 
                        <table mat-table [dataSource]="dataSource">
                            <ng-container matColumnDef="name">
                                <th mat-header-cell fxFlex="15"  *matHeaderCellDef> Name </th>
                                <td mat-cell fxFlex="15"  *matCellDef="let client"> {{client.name}} </td>
                            </ng-container>
                            <ng-container matColumnDef="email">
                                <th mat-header-cell fxFlex="15"  *matHeaderCellDef> Email </th>
                                <td mat-cell fxFlex="15" *matCellDef="let client"> {{client.email}} </td>
                            </ng-container>
                            <ng-container matColumnDef="street">
                                <th mat-header-cell fxFlex="15" *matHeaderCellDef> Streets</th>
                                <td mat-cell fxFlex="15" *matCellDef="let client"> {{client.street}} </td>
                            </ng-container>
                            <ng-container matColumnDef="website">
                                <th mat-header-cell fxFlex="15" *matHeaderCellDef> Website </th>
                                <td mat-cell fxFlex="15"  *matCellDef="let client"> {{client.website}}</td>
                            </ng-container>
                            <ng-container matColumnDef="packageActive">
                                <th mat-header-cell fxFlex="5" *matHeaderCellDef> Package Active</th>
                                <td mat-cell fxFlex="5" *matCellDef="let client"> {{client.packageActive}} </td>
                            </ng-container>
                            <ng-container matColumnDef="paymentDue">
                                <th mat-header-cell fxFlex="5" *matHeaderCellDef> Payment Due </th>
                                <td mat-cell fxFlex="5" *matCellDef="let client"> {{client.paymentDue}} </td>
                            </ng-container>
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell fxFlex="10" *matHeaderCellDef>TOTO</th>
                                <td mat-cell fxFlex="10" *matCellDef="let client">
                                    <div fxLayoutAlign="end" fxLayoutGap="10px">
                                        <button mat-raised-button color="accent" (click)="editClientModal(client)">Edit</button>
                                        <button mat-raised-button color="warn" (click)="deleteClient(client)"><i class="material-icons">delete_forever</i></button>       
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="pageSize" [length]="totalSize" [pageIndex]="currentPage" (page)="handlePage($event)" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
            <button mat-fab id="float" color="accent" (click)="openModal()">+</button>
        </mat-drawer-content>
    </mat-drawer-container>
</div>







  
    <!--Main content -->
<!-- <div class="col s10 ">
    <table mat-table [dataSource]="clients">
        <thead>
            <tr>
                <th>Name</th>
                <th>Street</th>
                <th>Webite</th>
                <th>Email</th>
                <th>Package Active</th>
                <th>Package Expires</th>
                <th>Amount Due</th>
                <th></th>
                <th></th>                
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients " >
                <td>{{client.name}}</td>
                <td>{{client.street}}</td>
                <td><a href="{{client.website}}">{{client.website}}</a></td>
                <td>{{client.email}}</td>
                <td>{{client.packageActive}}</td>
                <td>{{client.packageExpires | date:'MM/dd/yyyy'}}</td>
                <td>{{client.paymentDue | currency:"USD$":2}}</td>
                
                <td><button class="btn waves-effect waves-light" (click)="editClient(client)">Edit</button></td>
                <td><button class="btn waves-effect waves-light red" (click)="deleteClient(client)"><i class="material-icons">delete_forever</i></button></td>
                
            </tr>
        </tbody>
    </table>
    <button data-target="modal1" class="btn modal-trigger" (click)="openModal()">Add Client</button>
    <div class="modal" id="modal1" materialize="modal" >
        <div class="modal-content">
            <form class="register" #c="ngForm"  (ngSubmit)="onSubmit(c)" novalidate>
                    <h3>Add new client</h3>
                    <div class="input-field col s6">
                        <input class="validate"  placeholder="Name"  name="name"  type="text" required minlength="4" #name="ngModel" [(ngModel)]="test.name">
                        <label for="name">Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input class="validate" placeholder="Address" name="address" type="text" required minlength="6" #address="ngModel" [(ngModel)]="test.address">
                        <label for="address">Address</label>
                    </div>
                    <div class="input-field col s6">
                        <input class="validate" placeholder="Webite" name="website" type="text" required minlength="6" #website="ngModel" [(ngModel)]="test.website">
                        <label for="website">Website</label>
                    </div>
                    <div class="input-field col s6">
                        <input class="validate" placeholder="Phone number" name="phoneNumber" type="number" required minlength="10" #phoneNumber="ngModel" [(ngModel)]="test.phoneNumber">
                        <label for="phoneNumber">Phone Number</label>
                    </div>
                    <div class="input-field col s12"
                         [ngClass]="{
                         'has-danger': email.invalid && (email.dirty || email.touched),
                         'has-success': email.valid && (email.dirty || email.touched)
                    }">
                        <input class="validate" placeholder="Email" name="email" type="email" required [(ngModel)]="test.email" #email="ngModel" pattern="[^ @]*@[^ @]*">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field col s6 switch">
                            <input class="validate" name="packageActive" type="checkbox"  #packageActive="ngModel" [(ngModel)]="test.packageActive">
                            <label for="packageActive">packageActive</label>
                    </div>
                    <div class="input-field col s6">
                        <input class="validate" placeholder="Package Expires" name="packageExpires" type="text" required minlength="6" #packageExpires="ngModel" [(ngModel)]="test.packageExpires">
                        <label for="packageExpires">Package Expires</label>
                    </div>
                    <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
                            <p *ngIf="email.errors.required"> Email is Required</p>
                            <p *ngIf="email.errors.pattern"> Email must contain @ character</p>
                    </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="modal-action modal-close waves-effect waves-blue btn-flat" (click)="addClient() " [disabled]="c.invalid">Add</button>            
            <button class="modal-action modal-close waves-effect waves-red btn-flat" (click)="closeModal()">Close</button>
        </div>
    </div>
</div>
 -->

